@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: #000;
    position: fixed;
    z-index:20;
    transition:color 0.3s;
}
.nav-item {
    color: #aaa;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item:hover {
    color: white;

}
.nav-item i {
    font-size:3rem;
}

.name {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 0.25rem;
    letter-spacing: 0.3rem;
}
.menu {
    width: 40px;
    height: 60px;
    background-color: #000;
    z-index: 300;
    position: fixed ;
    top: 15rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
  cursor: pointer;
  z-index: 100;
  transition: top 0.4s 0.2s;
}

.menu::before {
    content: "";
    width: 0.3rem;
    height: 15rem;
    background-color: #000;
    position: absolute;
    top: -15rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem 0rem 0.1rem #000;
    /* transition: all 0.4s; */
  }
.section-1 {
    background-color: #333;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-heading {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #31db92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    font-weight: 900;
    text-align: center;
    /* color: white; */
}

.section-1-icons i {
    font-size: 25rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;

}

.card {
    width: 15rem;
    position: relative;
    background-color: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
    transition: transform 0.5s, box-shadow 0.5s;
    transform: rotateY(20deg) skewX(-2deg);
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    background-color: #817824;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #817824;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card:hover {
    box-shadow: 2rem 2rem 2rem #000;
    transform: translateX(-3rem);
}

.card-img {
    width: 100%;

}

.card-name {
    font-size: 2rem;
    font-weight: 900;
    color: #111;
    margin: 2rem 0;
}

.card-btn {
    background-color: #111;
    color: #888;
    border-radius: 12px;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    padding: 0.5rem;
}

.section-3 {
    background-color: #333;
    padding: 4rem 0;
}

.gallery {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.food-card {
    margin: 4rem 1rem;
    position: relative;
}
.food-card::before {
    content: "";
    position: absolute;
    background-color: white;
    width: .1rem;
    height: 0%;
    left: 80%;
    top: 2vw;
    transition: height 0.5s
}
.food-card:hover::before {
    height: 80%;
}
.food-card::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 0.1rem;
    top: 30%;
    left: 2rem;
    transition: width 0.5s;
}
.food-card:hover::after {
    width: 80%;
}
.food-card:hover .food-name {
width: 100%;
transition: width 1.5s 0.5s;
}
.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
        0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transition: all 0.5s;
}
.food-card:hover .food-img {
    box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
    opacity: 0.5s;
    transform: scale(1.1);
    filter: blur(0.5rem);
}
.food-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    position:absolute;
    top: 2rem;
    left: 2rem;
    letter-spacing: 0.1rem;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}
.food-desc {
    color: white ;
    font-size: 1rem;
    position: absolute;
    bottom: 3vw;
    left :2rem;
    font-weight: 300;
    width: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
.food-card:hover .food-desc {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}
.section-4 {
width: 100%;
height: 30vh;
background-color: #222;
display: flex;
justify-content: space-around;
align-items: center;
padding: 2rem 0;
}
.section-4-heading {
    font-size: 3rem;
    font-weight: 900;
    color: #a79a2d;
}
.section-4-desc {
    color: #888;
    font-size: 1rem;
    padding-top: 0.5rem;
}
.right-part {
    display: flex;
    align-items: center;
}
.signup-input {
    width: 30rem;
    height: 4rem;
    color:#a79a2d ;
    border: 0.2rem solid #a79a2d;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
.signup-btn {
    background-color: #333;
    color: #a79a2d;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    left:-4rem;
    height: 3.5rem;
    width: 3.5rem; 
}
.section-5 {
    background-color: #222;
}
.copyright {
color: #eee;
font-size: 1.5rem;
border-top: 0.1rem solid #888 ; 
padding: 2rem;
width: 100%;
text-align: center;
letter-spacing: 0.1rem;
}